.page10{
    display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.btn{
    height: 40px;
    width: 200px;
    border-radius: 10px;
    border: none;
    
}